body{
    background-color: rgb(255, 30, 30);
}
h1{
    background-color: darkred;
    color: rgb(255, 68, 68);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.5em;
    line-height: 2em;
}
h3{
    font-size: 1.5em;
}
p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.25em;
}
nav{
    background-color: black;
    line-height: 2em;
    display:block
}
nav li{
    display: inline;
    padding-right: 2.5em;
    list-style-type: none;
}

#honors{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    background-color: rgb(255, 72, 72);
}
#copyright{
    font-size: 1.25em;
    background-color: blueviolet;
}

nav a:link{
    color: white;
    text-decoration: none;
}
nav a:visited{
    color: white;
}
nav a:hover{
    text-decoration: underline;
}
nav a:active{
    color: blueviolet;
}
table, th, td {
    border: 1px solid black;
  }
table{
    background-color: gray;
}
th{
    font-weight: bold;
}
form{
    background-color: gray;
    border-style: double;
    border-width: 10px;
}